.container {
  margin: 5em auto;
  width: 30em;
  height: 30em;
  background: cadetblue;
  .row {
    display: flex;
    flex-direction: row;
    .column {
      border: 2px solid white;
      width: 10em;
      height: 10em;
    }

  }
}

.text{
  text-align: center;
  font-size: 64px;
  color: cadetblue;
}

.win-color{
  background-color: #ff8747;
}
